/* -------------------------------*\
          Header General
\*--------------------------------*/
.header{
	height: 8em;
	background-color: #f8f2f4;
}
/* -------------------------------*\
          Header Nav
\*--------------------------------*/
nav{
	background-color: #f8f2f4;
}
header .nav-link{

	text-decoration: none;
	color: #6e0031 !important;
	font-size: 1.5em;
}
.separator {
    display: inline-block;
    background: rgba(110,0,49,.1);
    width: 1px;
    height: 30px;
    margin: 0 10px
}
/* -------------------------------*\
          Background
\*--------------------------------*/
.jumbotron-home{
	background-image: url(https://i.postimg.cc/s2ZLJjmQ/veil_colorful_background_light.jpg);

	height: 30em;
	margin-top: 2em;
}

#info-article-primary{
	width: 85%;

	margin-top: 20em;
	margin-bottom: 40em;
}